* {
    box-sizing: border-box;
}

/* Create four equal columns that floats next to each other */
.column, .column-first {
    float: left;
    padding: 10px;
    height: auto;
    /* Should be removed. Only for demonstration */
}

.column {
    width: 42.5%;
}

.column-10 {
    width: 10%!important;
}

.column-first {
    width: 15%!important;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .column, .column-first, .column-10 {
        width: 100%!important;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    
}